@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800&display=swap');

.category-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.category-hover:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

body {
  font-family: 'Kanit',  sans-serif !important;
  padding-top: 2rem; 
}




.product-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.product-hover:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.product-img-hover {
  transition: transform 0.3s ease;
}

.product-hover:hover .product-img-hover {
  transform: scale(1.05);
}

/* Chuẩn W3C, dùng được cho Chrome, Edge, Safari mới */
input[type=number] {
  appearance: textfield;
}


/* Chrome, Safari, Edge cũ */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


